[neopixel sb_leds]
pin: extruder:PD3
chain_count: 10
color_order: GRB
initial_RED: 0.5
initial_GREEN: 0
initial_BLUE: 0.5

[neopixel chassis_leds]
pin: NEOPXL_OCT_OUT
chain_count: 24
color_order: GRB
initial_RED: 0.5
initial_GREEN: 0.5
initial_BLUE: 0.5

[neopixel btt_mini12864]
##  To control Neopixel RGB in mini12864 display
pin: EXP1_6
chain_count: 3
initial_RED: 0
initial_GREEN: 0
initial_BLUE: 1
color_order: RGB

#--------------------------------------------------
##  Set RGB values on boot up for each Neopixel. 
##  Index 1 = display, Index 2 and 3 = Knob
#--------------------------------------------------